
# IDE directories
/.idea
/.ropeproject
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace

# Cache
/__pycache__
/test/__pycache__
/.pytest_cache

# Build directories
/build
/dist

# Other files
*.json
*.bak
*.dat
*.ini
*.pyc
*.txt
